.container{
    position:relative;
    width: 100%; 
    
}

.sidenav{
    background-color: #3f51b5;
    width: 13% 
}

.sidenav a{
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.mat-drawer-container{
    background-color: #fff;
}

.content{
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    height: 80vh;
}

.add{
padding-top: 4px;

}

@media only screen and (max-width: 900px) {
    
    .sidenav{
        background-color: #3f51b5;
        width: 16% 
    }

    .content{
        margin-left: 16%  !important;
    }

  }

  @media only screen and (max-width: 745px) {
    
    .sidenav{
        background-color: #3f51b5;
        width: 19% 
    }

    .content{
        margin-left: 19%  !important;
    }

  }

  @media only screen and (max-width: 650px) {
    
    .sidenav{
        background-color: #3f51b5;
        width: 21% 
    }

    .content{
        margin-left: 21%  !important;
    }

  }

  @media only screen and (max-width: 550px) {
    
    .sidenav{
        background-color: #3f51b5;
        width: 11% ;
        overflow-x: none !important;
    }


    .content{
        margin-left: 11%  !important;
    }

  }